<div class="card">
    <div class="card-body">
        <h4 class="card-title">Selecciona Fecha y Horario que mas te acomode</h4>
        <p class="card-text">mensaje</p>

        <form [formGroup]="horarioForm">
            <div class="form-group">
                <label for="date" class="col-form-label">Fecha </label>
                <input type="date" class="form-control" (change)="buscaHorariosDisponibles($event.target.value)"
                    formControlName="date" placeholder="" [(ngModel)]="date">

            </div>

            <div class="form-group">
                <label for="hour" class="col-form-label">Horarios disponibles </label>

                <select class="form-control" id="hour">
                    <option value="" *ngFor="let horario of horarios">
                        {{horario.daily_schedule_hour}}
                    </option>
                </select>


            </div>

            <div style="margin-top: 1em;">
                <button type="button" class="btn btn-primary btn-lg btn-block">Pedir Hora</button>
            </div>

        </form>

    </div>
</div>